body {
    background-color: #F7F7F7;;
    padding: 0px;
    margin: 0px;
}

.header{
display: flex;    
justify-content: space-between;
  
}

.logo{
    margin-left: 50px;
    padding: 12px;
}

.nav{
    margin-right: 50px;
    padding: 35px;
}



